body{
    background-color: #F2EDDC;
}

#SubPrincipal{
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #254027;
}
#TituloPrincipal{
    border-radius: 5px;
    color: #254027;
    background-color: #F2BF91;
    font-size: 45px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#ArticuloPrincipal{
    text-align: justify;
    

}
select {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
aside {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  border-left: 4px solid #254027;
  margin: 1em 0;
  font-family: 'Segoe UI', sans-serif;
}
aside h3 {
  color: #254027;
}

#Parrafos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

#asideStyle{
    flex: 1;
    background-color: white;
    border-radius: 5px;
    padding: 1em; 
    border-left: 3px solid #254027;
}

.TextoLadito {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
a:hover {
  color: #e74c3c;
  background-color: #f1f1f1;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.ResaltadoGrande{
 text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
